<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.mapper.UserCartMapper">

    <resultMap id="BaseResultMap" type="com.zhang.entity.UserCart">
            <id property="cart_id" column="cart_id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="goods_id" column="goods_id" jdbcType="VARCHAR"/>
            <result property="goods_numb" column="goods_numb" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        cart_id,user_id,goods_id,
        goods_numb,create_time
    </sql>
</mapper>
